<!DOCTYPE html>
<html lang="pt">

<head th:replace="~{base :: head}"></head>

<body>

	<header th:replace="~{base :: header}"></header>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="mt-5" th:text="${contato.nome} + ' ' + ${contato.sobrenome}" >João Moreira</h1>
				<dl>
					<dt>ID</dt>
					<dd th:text="${contato.id}">100</dd>

					<dt>Telefone</dt>
					<dd th:text="${contato.telefone}" >85 9 9999-9999</dd>

					<dt>E-mail</dt>
					<dd th:text="${contato.email}" >email@email.com</dd>

					<dt>Data criação</dt>
					<dd th:text="${ #temporals.format(contato.dataCriacao , 'dd/MM/yyyy')}" >20/04/1990</dd>

					<dt>Categoria</dt>
					<dd th:text="${contato.categoria}" >Família</dd>

					<dt>Descrição</dt>
					<dd th:text="${contato.descricao}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Aenean ornare condimentum efficitur. Morbi sit amet commodo
						mauris. Donec efficitur lorem vel velit euismod pellentesque.
						Suspendisse blandit vehicula rhoncus. Duis posuere erat vitae
						libero scelerisque pharetra. Cras sed erat cursus, lacinia nibh
						at, imperdiet nibh. Duis sit amet enim blandit, scelerisque turpis
						quis, tempor quam. Nullam sed fermentum nisl, at varius mauris.
						Maecenas accumsan tincidunt orci consequat semper.</dd>
				</dl>

			</div>
		</div>
	</div>


</body>

</html>